%h1 Search

%form#twitter-form
  %input{name: 'screen_name', type: 'text'}
  %button{type: 'submit', action: 'search', method: :post, remote: true}
    Search Tweets

.tweetbox
  - if !@responses.nil?
    - @responses.each do |tweet|
      %p= tweet.text
